.translated-area-background {
	position: relative;
	bottom: 10px;
	height: 50px;
	width: 50px;
	margin: auto auto auto 0px;
	background: var(--grey);
}

.translated-text {
	position: relative;
	top: -60px;
	padding: 30px 35px;
	background: white;
	border-radius: 50px 0px 0px 0px;
	z-index: 2;
	height: -webkit-fill-available;

	.translated-header {
		margin-bottom: 20px;

		svg {
			transform: rotate(90deg);
			width: 20px;
			height: 20px;
			color: var(--violet);
      margin: auto 0px;
		}

		span {
			color: #464b82;
			margin: auto 0px auto 10px;
		}
    
    button {
      margin: auto 0px auto auto;
    }
	}

	p {
		margin: 0px;
		font-size: 1.125rem;
		word-break: break-all;
	}
}
