.translate-area {
	position: relative;
	top: 40px;
	padding: 30px 35px;
	background: var(--grey);
	border-radius: 50px 0px 50px 0px;
	z-index: 2;

	.translate-header {
    margin-bottom: 20px;

		svg {
			transform: rotate(90deg);
			width: 20px;
			height: 20px;
			color: var(--violet);
		}

		span {
			color: #464b82;
			margin: auto 0px auto 10px;
		}
	}

	.area-container {
		input {
			width: 100%;
			font-size: 1.125rem;

			&::placeholder {
				font-size: 1.125rem;
			}
		}
	}
}

.translate-area-background {
	height: 50px;
	width: 50px;
	margin: auto 0px auto auto;
	position: relative;
	bottom: 10px;
	background: white;
}
